.venv/
__pycache__/
nextjs-dashboard/.env.vercel
nextjs-dashboard/_pnpm-lock.yaml
nextjs-dashboard/.next/*
nextjs-dashboard/node_modules/
ellie/client_secret_*.apps.googleusercontent.com.json
ellie/token.json
ellie/bruno_col
ellie/ellie.egg-info
config.json
